* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/* img {
    display: block;
    width: 100%;
    height: auto;
} */

/* Typography */

html {
    font-family: "Lato", sans-serif;
    font-size: clamp(11px, 11px + 0.25vw, 16px);
    line-height: 1.4;
}

body, input, textarea, button, select, option {
    font: inherit;
}

p {
    padding-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.4em;
    line-height: 1.1;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}