.wrapper {
    margin-top: 10em;
}

.container {
    display: flex;
    gap: 30px;
    font-weight: normal;
    margin: auto;
    width: 80%;
    max-width: 2600px;
    align-items: center;
    justify-content: center;
    height: 70em;
    background-color: whitesmoke;
    padding: 30px;
}

h3 {
    font-weight: normal;
    margin: 10px 0 0 0;
    padding: 3px;
}

.name {
    font-size: 3rem;
    font-weight: 900;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.sub-title {
    font-size: 2rem;
    margin: 10px 0 40px 0;
    font-weight: 100;
}

.name, .sub-title {
    font-family: "Unbounded", sans-serif;

}

h3, span {
    font-family: "Lato", sans-serif;
}

h3 {
    font-weight: 400;
    margin: 20px 0;
}

.born {
    font-weight: 900;
    color: gray;
    text-transform: uppercase;
}

.image-container {
    position: relative;
    width: 40%;
    height: 38rem;
    overflow: hidden;
    border: 4px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 gray;
}

.base-image {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -40% -20%;
    /* width: 100em; */
}

.line {
    width: 82%;
}

.gallery {
    width: 100%;
    background-color: cadetblue;
    padding: 40px;
}

.title2 {
    font-family: "Unbounded", sans-serif;
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.small-image {
    width: 14%;
    border: 1px solid white;
}

.small-image:focus {
    width: 70%;
    position: absolute;
}

.gallery-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px auto 0 auto;
    width: 70%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 30px;
}

@media (max-width: 1200px) {    

    .wrapper {
        margin-top: 14em;
    }

    .container {
        flex-direction: column;
        height: 90em;
    }

    .image-container {
        width: 100%;
        height: 40em;
    }
}