.wrapper {
    margin-top: 10em;
}

.container {
    display: flex;
    gap: 30px;
    font-weight: normal;
    margin: auto;
    width: 80%;
    max-width: 2600px;
    align-items: center;
    justify-content: center;
    height: 70em;
    background-color: whitesmoke;
    padding: 30px;
}

h3 {
    font-weight: normal;
    margin: 10px 0 0 0;
    padding: 3px;
}

.name {
    font-size: 3rem;
    font-weight: 900;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.sub-title {
    font-size: 2rem;
    margin: 10px 0 40px 0;
    font-weight: 100;
}

.name,
.sub-title {
    font-family: "Unbounded", sans-serif;

}

h3,
span {
    font-family: "Lato", sans-serif;
}

h3 {
    font-weight: 400;
    margin: 20px 0;
}

.born {
    font-weight: 900;
    color: gray;
    text-transform: uppercase;
}

/* .image-container {
    position: relative;
    width: 40%;
    height: 38em;
    overflow: hidden;
    border: 4px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 gray;
} */

.image-container {
    width: 40%;
    height: 60%;
    /* background-color: rgba(0, 0, 0, 0.753); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    /* border-radius: 5px; */
    overflow: hidden;
}

/* .base-image {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
} */

.base-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    /* border: 5px solid white;
    box-shadow: 0 0 10px 0 gray; */
}

.line {
    width: 82%;
}

.gallery {
    width: 100%;
    background-color: cadetblue;
    padding: 40px;
}

.title2 {
    font-family: "Unbounded", sans-serif;
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.small-image-container {
    width: 10rem;
    /* height: 10rem; */
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s;
}

.small-image {
    /* max-width: 100%;
    max-height: 100%; */
    cursor: pointer;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.small-image-container:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
    border: 3px solid white;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.next, .previous {
    position: absolute;
    top: 45%;
    font-size: 50px;
    color: black;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
}

.next {
    right: 5%;
}

.previous {
    left: 5%;
}

/* .small-image:active {
    width: 100%;
    position: absolute;
    top: 20%;
    z-index: 10;
} */

.gallery-container {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px auto 0 auto;
    /* width: 70%; */
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 30px;
}

.button-container {
    background-color: brown;
    padding: 1em 2em;
    width: fit-content;
    min-width: 100px;
    border-radius: 5px;
    text-align: center;
    transition: 1s all ease;
}

.button-container:hover {
    padding: 1em 4em;
    background-color: rgb(165, 112, 42);
}

.attach {
    border: none;
    background-color: unset;
    color: white;
    font-size: 1.75em;
    font-weight: 700;
}

hr {
    margin-bottom: 1em;
}

.gallery-container p {
    color: white;
    text-align: center;
    font-size: 2em;
}

.flex {
    display: flex;
}

@media (max-width: 1200px) {

    .wrapper {
        margin-top: 14em;
    }

    .container {
        flex-direction: column;
        height: 90em;
        justify-content: flex-end;
    }

    .image-container {
        width: 100%;
        height: 40em;
        align-items: flex-end;
    }
}