.app {
    background-image: url("../public/images/stara-planina.webp");
    min-height: 1400px;
    background-size: cover;
    background-position: center;
}

@media (max-width: 600px) {
    .app {
        margin-top: -10%;
    }
}