.img-container {
    width: 100%;
    height: 178px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.637);
}

.article img:hover {
    opacity: 0.4;
}

.article {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    border: 1px solid black;
    width: 310px;
    height: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: gainsboro;
    border-radius: 4px;
    box-shadow: 3px 3px 4px gray;
    transition: transform 0.4s ease;
}

.article:hover {
    background-color: darkgray;
    color: white;
    box-shadow: none;
    transform: rotateY(10deg);
    opacity: 0.4;
}

.article h3 {
    font-family: "Lato", sans-serif;
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin: 4px;
    font-weight: 700;
}

.link {
    display: inline;
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
}

.details {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    color: white;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 5px 10px;
    display: none;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    left: 35%;
    top: 50%;
}

.link:hover .details {
    display: inline-block;
    transition: all 1s ease;
    border: 1px solid gray;
    /* left: 130px; */
}

.details:hover {
    width: 40%;
    text-align: center;
    color: black;
    background-color: rgba(220, 220, 220, 0.74);
}

@media (max-width: 780px) {

    .link {
        width: 100%;
        max-height: 250px;
        display: flex;
    }

    .article {
        width: 100%;
        background-color: rgb(218, 144, 32);
        color: white;
    }

    .img-container {
        height: 30em;
    }

    .img-container img {
        max-width: 100%;
        max-height: 100%;
    }

    .details {
        color: white;
        background-color: rgb(148, 147, 147);
        width: 31%;
        left: -1%;
        top: 70%;
        display: inline-block;
        font-size: 1.9rem;
        border: none;
        text-align: center;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
    }
}

@media (max-width: 500px) {
    
    .details {
        font-size: 1.4rem;
    }

    .img-container img {
        max-width: unset;
        max-height: unset;
    }
}