.main-container {
    width: 100%;
    display: flex;
    gap: 1em;
    padding: 4em;
    flex-wrap: wrap;
}

.loading {
    margin-bottom: 10px;
    color: black;
    font-size: 4em;
}

.wrapper {
    background-color: white;
    padding: 30px;
    margin-top: 10em;
    min-height: 110em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    margin: auto;
}

.line {
    background-color: gray;
    height: 10px;
}

.collection-name {
    color: brown;
}

@media (max-width: 780px) {
    .main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .main-container {
        padding: 4em 0;
    }
}