.main-container {
    background-color: white;
    width: 100%;
    margin-top: 10em;
    display: flex;
    gap: 1em;
    padding: 4em;
    flex-wrap: wrap;
}

.loading {
    margin-bottom: 10px;
    color: black;
    font-size: 4em;
}

.message {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    margin: auto;
}