.home-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Unbounded", sans-serif;
    display: inline-block;
    color: white;
    font-size: clamp(1.5rem, 10vw, 12rem);
    text-shadow: 3px 3px 10px black;
    margin: 0;
}

.title-container {
    position: fixed;
    padding: 14px;
    display: inline;
    top: 30%;
    width: 100%;
    text-align: center;
}

.sub-text {
    font-family: "Lato", sans-serif;
    color: white;
    margin-top: 30px;
    font-weight: 700;
    font-size: clamp(0.75rem, 3vw, 2rem);
}

.images-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40em;
}

.images-container img {
    width: 30em;
}

.wrapper {
    position: relative;
    overflow: hidden;
    /* border: 4px solid white; */
    background-color: white;
    width: 30em;
    height: 17em;
    border-radius: 10px;
    transition: transform 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper:hover {
    transform: rotate3d(3, 4, 1, 30deg);
}

.img-container {
    width: 97%;
    height: 96%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.line {
    width: 500px;
    height: 20px;
    background-color: rgb(240, 174, 7);
    border: 3px solid gray;
    filter: blur(3px);
    position: absolute;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.ourDogs {
    background-image: url(../../../public/images/Our-dogs.jpg);
    background-size: 100%;
    background-position: 100% 50%;
}

.story {
    background-image: url(../../../public/images/Story.webp);
    background-size: 100%;
}

.contacts {
    background-image: url(../../../public/images/Contacts.webp);
    background-size: 100%;
}

.images-container span {
    color: white;
    font-size: clamp(1.5rem, 10vw, 3rem);
    font-family: "Lato", sans-serif;
    background-color: rgba(0, 0, 0, 0.582);
    font-weight: 900;
    padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .title {
        font-size: clamp(1.5rem, 12vw, 12rem);
    }
}

@media (max-width: 400px) {

    .images-container a {
        width: 27em;
    }

    .title {
        font-size: clamp(1.5rem, 14vw, 12rem);
        width: 5ch;
    }
}

@media (max-width: 270px) {
    .images-container a {
        width: 20em;
    }
}