.background {
    display: inline-block;
    width: 100%;
    height: 70em;
    margin: 0 0 0 0;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    color: white;
    font-size: 10em;
}

.title-container {
    position: absolute;
    padding: 14px;
    display: inline;
}

.home-container {
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 1500px) {
    .title {
        font-size: 7em;
    }
}

@media only screen and (max-width: 700px) {
    .title {
        font-size: 4em;
    }

    .title-container {
        top: 24%;
    }
}