.background {
    display: inline-block;
    width: 100%;
    height: 70em;
    margin: 0 0 0 0;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    color: white;
    font-size: 140px;
}

.title-container {
    position: fixed;
    padding: 14px;
    display: inline;
}

.home-container {
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 1500px) {
    .title {
        font-size: 130px
    }
}

@media only screen and (max-width: 1300px) {
    .title {
        font-size: 100px
    }
}

@media only screen and (max-width: 950px) {
    .title {
        font-size: 90px
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 70px
    }
}

@media only screen and (max-width: 400px) {
    .title {
        font-size: 59px
    }
}