.home-container {
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    color: white;
    font-size: clamp(4.5rem, 10vw, 7rem);
}

.title-container {
    position: fixed;
    padding: 14px;
    display: inline;
    top: 50%;
}