.home-container {
    overflow: hidden;
    align-items: center;
}

.title {
    font-family: "Unbounded", sans-serif;
    display: inline-block;
    color: white;
    font-size: clamp(1.5rem, 10vw, 12rem);
    margin: 0;
}

.title-container {
    position: fixed;
    padding: 14px;
    display: inline;
    top: 30%;
    width: 100%;
    text-align: center;
}

.sub-text {
    font-family: "Lato", sans-serif;
    color: white;
    margin-top: 30px;
    font-weight: 700;
    font-size: clamp(0.75rem, 1.35vw, 8rem);
}

.images-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.images-container img {
    width: 30em;
    border: 4px solid white;
    border-radius: 10px;
    transition: transform 0.4s ease;
}

.images-container img:hover {
    transform: rotate3d(3, 4, 1, 30deg);
    cursor: pointer;
}