.img-container {
    width: 100%;
    height: 178px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article img:hover {
    opacity: 0.4;
}

.article {
    display: flexbox;
    padding: 0.75rem;
    border: 1px solid black;
    width: 310px;
    height: 250px;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    background-color: gainsboro;
    border-radius: 4px;
    box-shadow: 3px 3px 4px gray;
}

.article:hover {
    background-color: darkgray;
    color: white;
    box-shadow: none;
    transform: rotateY(10deg);
    opacity: 0.4;
}

.article h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin: 4px;
}

.link {
    display: inline;
    text-decoration: none;
    color: black;
}

.details {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    color: white;
    position: relative;
    left: 1%;
    top: -35%;
    margin-top: 0px;
    background-color: black;
    padding: 4px;
    display: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.link:hover .details {
    display: inline-block;
    /* left: 130px; */
}

.details:hover {
    left: 0%;
    width: 40%;
    text-align: center;
    color: black;
    background-color: gainsboro;
}


@media (max-width: 768px) {
    .article {
        flex: 1 1 100%;
    }
}

@media (max-width: 600px) {

    .link {
        width: 100%;
        max-height: 250px;
    }

    .article {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .article h3 {
        margin-right: 10px;
    }

    .img-container {
        max-width: 74%;
        height: 100%;
    }

    .img-container img {
        object-fit: cover;
        object-position: top;
        display: inline-block;
    }

    .details {
        color: white;
        background-color: rgb(148, 147, 147);
        width: 31%;
        height: 20%;
        display: inline-block;
        border-radius: 4px;
        border: 1px solid white;
        font-size: 1.4rem;
        padding: 10px;
        text-align: center;
    }
}

@media (max-width: 450px) {
    .img-container {
        max-width: 70%;
        height: 100%;
    }
}

@media (max-width: 390px) {
    .img-container {
        max-width: 64%;
        height: 100%;
    }

    .details {
        font-size: 1.1rem;
    }
}

/* @media only screen and (max-width: 1000px) {
    .article {
        width: 430px;
        height: 300px;
    }

    .article img {
        width: 400px;
        height: 240px
    }
} */