.article img {
    width: 300px;
    height: 200px;
}

/* .article img:hover {
    opacity: 0.4;
} */

.article {
    display: flexbox;
    padding: 1px;
    border: 1px solid black;
    width: 310px;
    height: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    background-color: gainsboro;
    border-radius: 4px;
    box-shadow: 3px 3px 4px gray;
}

.article:hover {
    background-color: darkgray;
    color: white;
    box-shadow: none;
    transform: rotateY(10deg);
}

.article h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 4px;
}

.link {
    text-decoration: none;
    color: black;
}