.section-main {
    margin: auto;
    width: 70%;
    max-height: 23rem;
    background-color: rgba(255, 255, 255, 0.514);
    border: 4px solid white;
    margin-bottom: 30px;
    overflow: scroll;
    border-radius: 10px;
}

.section-males,
.section-females,
.section-puppies {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.section-wrapper {
    position: sticky;
    top: 30%;
    display: flexbox;
    /* overflow: scroll; */
}

h2 {
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 4px;
}

.message {
    font-family: sans-serif;
    font-weight: 900;
    margin: auto;
}

@media (max-width: 1450px) {
    .section-main {
        width: 80%;
    }
}

@media (max-width: 1450px) {
    .section-main:first-of-type {
        margin-top: 10%;
    }
}

@media (max-width: 600px) {
    .section-main:first-of-type {
        margin-top: 30%;
    }
}

/* @media only screen and (max-width: 1000px) {
    .section {
        display: ruby;
    }
} */