.sectionMain {
    margin: auto;
    width: 70%;
    max-height: 24rem;
    background-color: rgba(255, 255, 255, 0.514);
    border: 4px solid white;
    margin-bottom: 30px;
    border-radius: 10px;
    aspect-ratio: 2/1;
    /* overflow: hidden; */
    background-image: url(../../../public/images/Male.avif);
    background-size: 100%; 
    background-position: 100% 20%;
    transition: background-size 1s ease;
    position: relative;
    /* transition: all 1s ease; */
}

.sectionMain:hover {
    background-size: 140%;
}

.females {
    background-image: url(../../../public/images/Female.jpg);
}

.puppies {
    background-image: url(../../../public/images/Puppies.jpg);
    background-position: 100% 40%;
}

/* .image,
.image-puppies {
    position: absolute;
    top: 0%;
    left: 0%;
    translate: 0% -14%;
    z-index: 0;
    width: 100%;
    transition: all 1s ease;
} */

/* .image:hover,
.image-puppies:hover {
    width: 140%;
    left: -20%;
} */

/* .image-puppies {
    translate: 0% -30%;
} */

.section-wrapper {
    position: sticky;
    top: 30%;
    display: flexbox;
    /* overflow: scroll; */
}

.select {
    position: absolute;
    z-index: 1;
    font-size: clamp(1.5rem, 1rem + 3vw, 7rem);
    color: white;
    font-family: "Unbounded", sans-serif;
    font-weight: 900;
    top: 1vh;
    left: 2vw;
    text-shadow: 3px 3px gray;
}
