.section-main {
    margin: auto;
    width: 70%;
    max-height: 24rem;
    background-color: rgba(255, 255, 255, 0.514);
    border: 4px solid white;
    margin-bottom: 30px;
    border-radius: 10px;
    position: relative;
    aspect-ratio: 2/1;
    overflow: hidden;
}

.image, .image-puppies {
    position: absolute;
    top: 0%;
    left: 0%;
    translate: 0% -14%;
    z-index: 0;
    width: 100%;
    transition: all 1s ease;
}

.image:hover, .image-puppies:hover {
    width: 140%;
    left: -20%;
}

.image-puppies {
    translate: 0% -30%;
}
.section-wrapper {
    position: sticky;
    top: 30%;
    display: flexbox;
    /* overflow: scroll; */
}

.select {
    position: absolute;
    z-index: 1;
    font-size: clamp(1.5rem, 1rem + 3vw, 7rem);
    color: white;
    font-family: "Unbounded", sans-serif;
    font-weight: 900;
    top: 1vh;
    left: 2vw;
}

/* .message {
    font-family: sans-serif;
    font-weight: 900;
    margin: auto;
} */

/* .loading {
    margin-bottom: 10px;
    color: black;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0))
} */

/* @media (max-width: 1450px) {
    .section-main {
        width: 80%;
    }

    .section-main:first-of-type {
        margin-top: 10%;
    }

    .loading {
        margin-top: 4%;
    }
}

@media (max-width: 600px) {
    .section-main:first-of-type {
        margin-top: 10%;
    }

    .loading {
        margin-top: 14%;
    }
} */

/* @media only screen and (max-width: 1000px) {
    .section {
        display: ruby;
    }
} */