.story {
    background-color: white;
    aspect-ratio: 10/7;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
    gap: 4em;
}

.storyHeader {
    max-height: 240px;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.storyHeader h1 {
    font-family: "Unbounded", sans-serif;
    font-size: 6rem;
    position: absolute;
    top: 30%;
    left: 45%;
    font-weight: 900;
    color: black;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.storyHeader img {
    width: 100%;
}

.textCard {
    width: 1000px;
    text-align: center;
    font-family: sans-serif;
}

.textCard h2 {
    font-weight: 900;
    /* TODO */
    font-size: 2.4rem;
}

.textCard h4 {
    font-weight: 100;
    /* TODO */
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.700);
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 1000px;
    font-family: sans-serif;
}

.card h2 {
    margin-top: 0;
}

.image-container {
    width: 200%;
    height: 300px;
    aspect-ratio: 2/1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.reverse {
    flex-direction: row-reverse;
}

.bottom p {
    color: rgba(0, 0, 0, 0.700);
    font-size: 1.2rem;
    font-weight: 700;
    border-top: 3px solid gray;
    padding-top: 1em;
}

.top {
    border-bottom: 3px solid gray;
    margin-top: 10em;
}

@media (max-width: 1024px) {
    .top {
        margin-top: 30em;
    }

    .storyHeader {
        max-height: 340px;
    }

    /* .storyHeader img {
        height: 400px;
        width: 1100px;
    } */

    .main-container {
        width: 100%;
        padding: 0;
    }

    .image-container {
        width: 100%;
    }

    .card,
    .textCard {
        width: 80%;
        flex-direction: column;
    }

    .storyHeader h1 {
        left: 30%;
    }
}

@media (max-width: 900px) {

    .storyHeader {
        top: 4%;
    }

    .storyHeader img {
        height: 400px;
    }

    .storyHeader h1 {
        top: 40%;
    }

    .top {
        margin-top: 40em;
    }
}

@media (max-width: 600px) {
    .storyHeader h1 {
        left: 10%;
    }
}