footer {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 3;
    background-color: black;
    color: white;
    padding: 30px 10px 30px 10px;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    line-height: 1.4;
}

p {
    max-width: 40ch;
}

li {
    list-style: none;
    margin-left: 24px;
}

a {
    text-decoration: none;
    color: white;
}

h5 {
    font-size: 1rem;
    font-weight: 900;
}

h5, p, span {
    margin-right: 24px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 24px;
}

.icon-wrapper {
    display: block;
}