footer {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 3;
    background-color: black;
    color: white;
    padding: 30px 10px 30px 10px;
    display: flex;
    font-family: sans-serif;
    justify-content: space-evenly;
    line-height: 1.4;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.text-logo-container {
    display: flex;
    flex-basis: 45%;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-start;
    gap: 4%;
}

.address-nav-container {
    display: flex;
    flex-basis: 45%;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.address-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 80%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: bisque;
}

.logo-wrapper {
    display: flex;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.logo {
    width: 40%;
    max-width: 100px;
}

.logo-fci {
    width: 45%;
    max-width: 120px;
}

p {
    flex-basis: 70%;
}

h5 {
    margin-top: 0;
}

@media (max-width: 1075px) {
    footer {
        align-items: flex-start;
        justify-content: space-between;
    }

    .logo-wrapper {
        flex-direction: column;
        flex-basis: 40%;
        gap: 10px;
    }
}

@media (max-width: 800px) {
    footer {
        flex-direction: column;
    }

    .text-logo-container {
        border-bottom: 1px solid white;
    }

    .logo-wrapper {
        flex-direction: row;
    }

    .address-nav-container {
        width: 100%;
        gap: 20px;
    }

    .address-wrapper {
        flex-basis: 90%;
    }
}

@media (max-width: 500px) {
    .text-logo-container {
        align-items: stretch;
    }

    p {
        flex-basis: 70%;
    }

    .logo-wrapper {
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 30%;
    }

    p {
        order: 1;
    }
}