.imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    /* margin: 10em 65em;
    border-radius: 5px; */
}

.imageContainer img {
    border-radius: 5px;
    box-shadow: 0 0 10px 0 black;
}