.header {
    width: 90%;
    padding: 10px;
    position: sticky;
    top: 4%;
    left: 4%;
    z-index: 1;
}

.nav-container {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav-bar {
    background-color: rgb(233, 202, 124);
    padding: 1em 1em;
    border: 1px solid goldenrod;
    border-radius: 4px;
    width: 100%;
    box-shadow: 3px 3px 7px gray;
}

.nav-bar ul {
    text-align: end;
}

.nav-bar a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 19px;
}

.link {
    color: brown;
}

.link:hover {
    color: black;
}

.selected {
    color: black;
    font-weight: 700;
}

.image-container {
    position: absolute;
    top: 0%;
    left: 3%;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px 10px 10px 14px;
    border-radius: 50%;
    border: 1px solid goldenrod;
}

.image-container:active {
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left: 5px;
}

.logo {
    height: 70px;
}

.logo:active {
    height: 60px;
}

.small-nav-bar {
    display: none;
    position: absolute;
    top: 2.7em;
    right: 4em;;
    flex-direction: column;
    justify-content: space-between;
    width: 2.74%;
    height: 2rem;
}

.small-nav-bar span {
    height: 0.4rem;
    width: 40px;
    background-color: gray;
    border-radius: 0.2rem;
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

.x-mark {
    display: none;
}

.close {
        display: none;
    }

@media (max-width: 900px) {
    .nav-container {
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }

    .image-container {
        position: unset;
        background-color: unset;
        width: 50px;
        height: 50px;
        border: unset;
    }

    .nav-bar {
        width: 100%;
        height: 100%;
        background-color: none;
        box-shadow: none;
        border: none;
        background-color: transparent;
    }

    .x-mark {
        position: absolute;
        display: inline-block;
        top: 4%;
        left: 93%;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 3em;
        color: gray;
    }

    .nav-bar ul {
        /* display: none; */
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    nav {
        display: none;
    }

    .open {
        display: flex;
    }

    .nav-bar ul li {
        margin: 4px 0 4px 0;
        display: block;
        width: 100%;
        text-align: center;
    }

    .link {
        font-size: 19px;
        background-color: rgba(218, 165, 32, 0.418);
        display: block;
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 9px;
        color: brown;
    }

    .selected {
        font-size: 19px;
        background-color: brown;
        color: white;
        display: block;
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 9px;
    }

    .small-nav-bar {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: start;
        margin-bottom: -10px;
    }

    .logo {
        margin: -10px 0 -30px 0;
    }

    .header {
        background-color: gainsboro;
        margin: 10px;
        width: 96%;
        /* border: 0.3px solid darkgray; */
        box-shadow: 1px 1px 10px gray;
    }
}

@media(max-width: 450px) {
    .x-mark {
        left: 90%;
    }
}