.header {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: white;
}

.nav-container {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav-bar {
    background-color: rgba(218, 165, 32, 0.507);
    padding: 1em 1em;
    border: 1px solid goldenrod;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 3px 3px 7px gray;
}

.nav-bar ul {
    display: flex;
    gap: 30%;
}

.nav-bar a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 19px;
}

.link {
    color: brown;
}

.link:hover {
    color: black;
}

.selected {
    color: black;
    font-weight: 700;
}

.logo {
    height: 70px;
}

.image-container {
    display: inline-block;
}

.small-nav-bar {
    display: none;
    position: absolute;
    top: 1.7rem;
    right: 14%;
    flex-direction: column;
    justify-content: space-between;
    width: 2.74%;
    height: 2rem;
}

.small-nav-bar span {
    height: 0.4rem;
    width: 40px;
    background-color: gray;
    border-radius: 0.2rem;
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .nav-container {
        width: 100%;
        height: 100%;
    }

    .nav-bar {
        width: 100%;
        height: 100%;
        background-color: none;
        box-shadow: none;
        border: none;
        background-color: transparent;
    }

    .nav-bar ul {
        /* display: none; */
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    nav {
        display: none;
    }

    .open {
        display: flex;
    }

    .nav-bar ul li {
        margin: 4px 0 4px 0;
        display: block;
        width: 100%;
        text-align: center;
    }

    .link {
        font-size: 19px;
        background-color: rgba(218, 165, 32, 0.418);
        display: block;
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 9px;
        color: brown;
    }

    .selected {
        font-size: 19px;
        background-color: goldenrod;
        color: white;
        display: block;
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 9px;
    }

    .small-nav-bar {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: start;
        margin-bottom: -10px;
    }

    .logo {
        margin-bottom: -30px;
    }

    .header {
        background-color: gainsboro;
        margin: 10px;
        width: 97%;
        /* border: 0.3px solid darkgray; */
        box-shadow: 1px 1px 10px gray;
    }

    /* .link{
        display: block;
    } */

    /* .header {
        display: grid;
        position: absolute;
        padding: 14px;
    } */
}