.nav-bar {
    background-color: rgba(218, 165, 32, 0.507);
    padding: 1em 1em;
    border: 1px solid goldenrod;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    width: 400px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 7px gray;
}

.nav-bar a {
    text-decoration: none;
    font-family: sans-serif;
}

.link {
    color: brown;
}

.link:hover {
    color: black;
}

.selected {
    color: black;
    font-weight: 700;
}

.logo {
    height: 70px;
}

.header {
    display: flex;
    gap: 30px;
    align-items: center;
}

.image-container {
    display: inline-block;
}

.nav-container {
    display: inline-block;
}