.login {
    background-color: rgb(233, 202, 124);
    width: 30%;
    margin: 30em auto;
    padding: 24px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.login section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

button {
    border: none;
    background-color: unset;
    color: white;
    font-size: 1.75em;
    font-weight: 700;
}


.btn-ctr {
    background-color: brown;
    padding: 1em 2em;
    width: fit-content;
    min-width: 100px;
    border-radius: 5px;
    text-align: center;
    transition: 1s all ease;
}

.btn-ctr:hover {
    padding: 1em 4em;
    background-color: rgb(165, 112, 42);
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.login section input {
    background-color: white;
    outline: none;
}

.login section label {
    font-size: 2rem;
    color: brown;
}

@media (max-width: 1200px) {
    .login {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .login {
        width: 90%;
        padding: 10px;
    }
}