.main-ctr {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10em;
}

.wrapper {
    background-color: white;
    padding: 1em;
    width: 70%;
    /* min-width: 400px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5em;
    align-items: center;
}

.name-ctr,
.url-ctr {
    width: 50%;
    min-width: 120px;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: rgba(238, 202, 109, 0.521);
    box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.37);
}

input {
    width: 100%;
    border: none;
    font-size: 2em;
    font-family: "Lato", sans-serif;
    background-color: unset;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    /* font-size: 5em; */
    font-size: clamp(1.5rem, 10vw, 5rem);
}

h2 {
    color: black;
}

.submit-btn {
    border: none;
    background-color: unset;
    color: white;
    font-size: 1.75em;
    font-weight: 700;
}

.submit-btn-ctr {
    background-color: brown;
    padding: 1em 2em;
    width: 10%;
    min-width: 100px;
    border-radius: 5px;
    text-align: center;
    transition: 1s all ease;
}

.submit-btn-ctr:hover {
    width: 14%;
    background-color: rgb(165, 112, 42);
}

.image-ctr {
    position: relative;
    border: 1em solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 gray;
    width: 50%;
    height: 40em;
    overflow: hidden;
    min-width: 200px;
}

.image-ctr img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -40% -20%;
}

.pictures-selection-wrapper {
    width: 50%;
}

.pictures-selection-wrapper select {
    width: 100%;
}

@media (max-width: 1000px) {
    .wrapper {
        width: 100%;
        border-radius: unset;
    }

    .image-ctr {
        width: 90%;
    }
}